.page-title{
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;

}

.form-container{
    width: 400px;
    margin:auto;
}
.loading{
    width: 100%;
    text-align: center;
}
.ck-editor__editable {
    height: 40vh;
    width: 100% !important;
}
.post-form{
    width: 100%;
}
.post-submit{
    float: right;
}